<div class="row">
    <div class="col-12">
        {{#each reviewList}}
        <div class="card my-5 ms-3">
            <div class="card-body">
                <div class="card m-3">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="row">
                                {{#with title}}
                                <div class="col-10">
                                    <h5>{{userName}}</h5>

                                    <div>{{caption}}</div>
                                </div>

                                <div class="col-2 pt-3">{{date}}</div>
                                {{/with}}
                            </div>
                        </div>
                    </div>

                    {{#with reviewBody}}
                    <div class="card-body">
                        {{#with seller}}
                        <div class="py-2">{{title}}: {{value}}</div>
                        {{/with}}
                        {{#with rating}}
                        <div class="py-2">{{title}}: {{value}}</div>
                        {{/with}}
                        {{#each text}}
                        <p class="py-2">{{this}}</p>
                        {{/each}}
                        {{#with advantages}}
                        <div class="py-2"><b>{{title}}:</b></div>
                        <div>{{text}}</div>
                        {{/with}}
                        {{#with disadvantages}}
                        <div class="py-2"><b>{{title}}:</b></div>
                        <div>{{text}}</div>
                        {{/with}}
                        <div class="py-2">
                            {{#each images}}
                            <img class="card-img-cap" src="{{this}}" alt="Product photo">
                            {{/each}}
                        </div>
                    </div>

                </div>
                {{#each coments}}
                <div class="card m-3 ms-5">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="col-10">{{userName}}</h5>
                            <div class="col-2">{{date}}</div>
                        </div>
                        <p>{{text}}</p>
                    </div>
                </div>
                {{/each}}
                {{/with}}
            </div>

        </div>
        {{/each}}
    </div>
</div>